<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Library API{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Library API</h1>
        <nav>
            <ul>
                <li><a href="{% url 'book-list' %}">Books</a></li>
                <li><a href="{% url 'user-create' %}">Create User</a></li>
                <!-- Actualiza o elimina enlaces según sea necesario -->
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Library API. All rights reserved.</p>
    </footer>
</body>
</html>
